<div class="form-group">
    <form>
     
      <label for="custid">Customer ID</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="custid"  class="form-control" formControlName="custid">
      <br /> <br />

      <label for="fname">First Name</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="fname"  class="form-control" formControlName="fname">
      <br /> <br />

      <label for="lname">Last Name</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="lname"  class="form-control" formControlName="lname">
      <br /> <br />

      <label for="location">Location</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="location"  class="form-control" formControlName="location">
      <br /> <br />

      <label for="nic">NIC</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="nic"  class="form-control" formControlName="nic">
      <br /> <br />

      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
      /><br /><br />
  
      <label for="mobileno">Contact No.</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="mobileno"  class="form-control" formControlName="mobileno">
      <br /> <br />

  <button type="submit" class="btn btn-info" style="background-color:#33B585 ; font-size:17px">Add Customer</button>
  <!-- <div (click)="onClickSubmit()" class="btn btn-info float-right ml-2" style="background-color:#33B585 ; font-size:20px">
    Add
</div> -->
    </form>
  </div>
  
  
