<!-- <p>user-profile works!</p> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
  <div *ngIf="customer" class="main-content">
    <div class="container">
      <!-- Table -->
      <br>
      <h2 class=""><b>Customer Account</b></h2>
      <div class="row">
        <div class="col-xl-8 m-auto order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">{{customer.cust_id}}</h3>
                </div>
                <!-- <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div> -->
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-userid">User ID</label>
                        <input type="text" id="input-userid" class="form-control form-control-alternative"
                          placeholder="Username" [value]="customer.cust_id" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative"
                          placeholder="Email" [value]="customer.email" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative"
                          placeholder="First name" [value]="customer.name.first_name" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative"
                          placeholder="Last name" [value]="customer.name.last_name" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-nic">NIC</label>
                        <input type="text" id="input-nic" class="form-control form-control-alternative"
                          placeholder="NIC" [value]="customer.nic" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <!-- <div class="form-group focused">
                        <label class="form-control-label" for="input-default_agent_id">Assigned Travelling Agent</label>
                        <input type="text" id="input-default_agent_id" class="form-control form-control-alternative" placeholder="Assigned Travelling Agent" [value]="customer.default_agent_id.first_name" readonly>
                      </div> -->
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Mobile No.</label>
                        <input id="input-address" class="form-control form-control-alternative"
                          placeholder="Mobile Number" type="text" [value]="customer.mobile_number" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-location">Location</label>
                        <input type="text" id="input-location" class="form-control form-control-alternative"
                          placeholder="Location" [value]="customer.location.coordinates" readonly>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-province">Area</label>
                        <input type="text" id="input-area" class="form-control form-control-alternative"
                          placeholder="Area" [value]="customer.area" readonly>
                      </div>
                    </div>
                    <!-- <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-mobileno">Province</label>
                        <input type="text" id="input-mobileno" class="form-control form-control-alternative" placeholder="Province" [value]="customer.province" readonly>
                      </div>
                    </div> -->
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <!-- <h6 class="heading-small text-muted mb-4">Bio</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>Bio</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about customer ...">{{customer.bio}}</textarea>
                  </div>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">
        <!-- <div class="copyright">
          <p>Made with <a href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">Argon Dashboard</a> by Creative Tim</p>
        </div> -->
      </div>
    </div>
  </footer>
</body>