.container {
    height: 500px;
}

.rating {
    text-align: center;
    margin-top: 30px;
    margin: 8px
}

.star {
    font-size: 1.5rem;
    color: #b0c4de;
}

.filled {
    color: #1e90ff;
}

.bad {
    color: #deb0b0;
}

.filled.bad {
    color: #ff1e1e;
}