<!-- <form [formGroup]="form" (ngSubmit)="update()">
    <label for="userid">User ID</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="userid"  class="form-control" formControlName="userid">
      <br /> <br />

      <label for="email">Area</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="email" formControlName="email">
      <br /> <br />

  <button type="submit" class="btn btn-info" style="background-color:#33B585 ; font-size:17px">Update Profile</button>
  <!-- <div (click)="onClickSubmit()" class="btn btn-info float-right ml-2" style="background-color:#33B585 ; font-size:20px">
    Add
</div> -->
    <!-- </form> -->
   -->