<div class="row" style="width: 100%">
  <div class="col-md-6">
    <div class="card w-75" style="width: 18rem">
      <div class="card-body">
        <h4 class="card-title">Daily Task Status</h4>
        <div class="text-right">
          <h2 class="font-light m-b-0">
            <i class="ti-arrow-up text-success"></i> 16/20
          </h2>
          <span class="text-muted">Task Completion</span>
        </div>
        <span class="text-success">80%</span>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 100%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card w-75" style="width: 18rem">
      <div class="card-body">
        <h4 class="card-title">Monthly Task Status</h4>
        <div class="text-right">
          <h2 class="font-light m-b-0">
            <i class="ti-arrow-up text-success"></i> 48/100
          </h2>
          <span class="text-muted">Task Completion</span>
        </div>
        <span class="text-success">21%</span>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 21%; height: 100%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="width: 100%">
  <div class="card" style="width: 40%">
    <div class="card-body" style="width: 100%">
      <div class="d-md-flex align-items-center">
        <h4 class="card-title mb-0">Best Performing Travelling Agents</h4>
      </div>
      <div class="table-responsive m-t-40">
        <table class="table stylish-table">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Agent ID</th>
              <th scope="col">Average Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bestagent of bestagents">
                <td>{{bestagent.first_name}}</td>
                <td>{{bestagent.last_name}}</td>
                <td>{{bestagent.userid}}</td>
                <td>{{bestagent.rate}}</td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card" style="width: 40%">
    <div class="card-body" style="width: 100%">
      <div class="d-md-flex align-items-center">
        <h4 class="card-title mb-0">Most Visited Customers</h4>
      </div>
      <div class="table-responsive m-t-40">
        <table class="table stylish-table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Customer ID</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mostvisitedcustomer of mostvisitedcustomers">
                <td>{{mostvisitedcustomer.user.name.first_name}}</td>
                <td>{{mostvisitedcustomer.user.name.last_name}}</td>
                <td>{{mostvisitedcustomer.user.cust_id}}</td>
                <td>{{mostvisitedcustomer.user.area}}</td>
            </tr>
        </tbody>         
        </table>
      </div>
    </div>
  </div>
</div>


<div class="row" style="width: 100%">
  <div class="card" style="width: 50%">
    <div class="card-body" style="width: 50%">
      <div class="d-md-flex align-items-center">
        <h4 class="card-title mb-0">Efficiency of the days</h4>
      </div>
      <div class="table-responsive m-t-40">
        <table class="table stylish-table">
          <thead>
            <tr>
              <th scope="col">Most Efficient Dates</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mostefficientday of mostefficientdays">
                <td>{{mostefficientday._id}}</td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div class="card-body" style="width: 50%">
      <div class="table-responsive m-t-40">
        <table class="table stylish-table">
          <thead>
            <tr>
              <th scope="col">Least Efficient Dates</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leastefficientday of leastefficientdays">
                <td>{{leastefficientday._id}}</td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>


<div class="row" style="width: 100%">
  <div *ngIf="customerList.length > 0">
    <app-map [modeSignal]="modeSignal" [markerList]="customerList"> </app-map>
  </div>
</div>