<div class="ItDetailsComponent">
    <div class="row mt-5">
        <div class="col text-center">
            <h1 class="text-black-50">
                Itinerary Details
            </h1>
        </div>
    </div>

    <div class="mt-5">
            <input placeholder="Search" #search type="text" class="form-control">
    </div>

    <form class="mt-5">
      
            <div class="form-group col-md">
                <label for="">Travelling Agent ID</label>
                <input formControlName="cust_id" type="text" class="form-control" placeholder="">
            </div>  
       
            <div class="form-group col-md">
                <label for="">Itinerary ID</label>
                <input formControlName="cust_id" type="text" class="form-control" placeholder="">
            </div>
    </form>

</div>
