<div class="CustAvailComponent">
    <div class="row mt-5">
        <div class="col text-center">
            <h1 class="text-black-50">
                {{'Customer Availabilty' | uppercase}}
            </h1>
        </div>
    </div>
    <form [formGroup]="availabilityForm" class="mt-5">
        <div class="form-row">
            <div class="form-group col-md">
                <label for="">Customer ID</label>
                <input required formControlName="cust_id" type="text" class="form-control" placeholder="">
            </div>
            
            <div class="form-group col-md">
                <label for="">Date</label>
                <input formControlName="date" type="date" class="form-control">
            </div>
            <div class="form-group col-md">
                <label for="">From</label>
                <input formControlName="time_from" type="time" class="form-control">
            </div>
            <div class="form-group col-md">
                <label for="">To</label>
                <input formControlName="time_to" type="time" class="form-control">
            </div>
            <div class="form-group col-md">
                <label for="">Estimated Task Duration</label>
                <select class="custom-select" formControlName="task_duration">
           <option selected >15 min</option>
           <option >30 min</option>
           <option >45 min</option>
         </select>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <label for="">Select Task</label>
                <select multiple=true class="form-control" formControlName="task" size="11" >
                    <option [ngValue]="t._id" *ngFor="let t of displayTasks">{{t.task_name}}</option> 
                </select>
            </div>
            <div class="form-group col-md">
                <label for="">Special Notes</label>
                <textarea formControlName="note" name="" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>
        <div class="btn btn-info" style="background-color:#33B585" (click)="addTask()" >Add Task</div>
        <div (click)="onClickSubmit()" class="btn btn-info float-right ml-2" style="background-color:#33B585">
            Add Availabilty
        </div>
        <input type="reset" value="Clear" class="btn btn-info float-right" style="background-color:#33B585">
    </form>


    <br><br><br>
    <div class="col-md-3">
        <input placeholder="Search" #search type="text" class="form-control" (input)="onSearch(search.value)">
    </div>
    <br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Customer Id</th>
                <th scope="col">Date</th>
                <th scope="col">Available Time</th>
                <th scope="col">Note</th>
                <th scope="col">Task</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of displayAvailabilities">
                <th scope="row">{{v.cust_id}}</th>
                <td>{{v.date | date:'shortDate' }}</td>
                <td>{{v.time_from }} - {{v.time_to}}</td>
                <td>{{v.note}}</td>
                <td>
                    <div *ngFor="let single_task of v.task">
                        {{single_task.task_name}}
                    </div>
                </td>
                <td>{{v.task_duration}}</td>
            </tr>
        </tbody>
    </table>
</div>