<div class="sidebar" @fade>
    <div class="topic" fxLayoutAlign="center center">
        <div>
            <p class="title">TAMS SYSTEM</p>
        </div>
    </div>
    <div class="buttons">
        <div class="button" (click)="callScreen('Itinerary Map')">
            <p class="label">Travel Agent Map</p>
        </div>
        <div class="button" (click)="callScreen('Leaves')">
            <p class="label">Leaves</p>
        </div>
        <div class="button" (click)="callScreen('Itinerary Task')">
            <p class="label">Task</p>
        </div>
        <div class="button" (click)="callScreen('Customer Availability')">
            <p class="label">Customer Availability</p>
        </div>
        <div class="button" (click)="callScreen('User Management')">
            <p class="label">User Management</p>
        </div>

        <div class="button" (click)="callScreen('Assign')">
            <p class="label">Assign Customers</p>
        </div>

        <div class="collapse-button" fxLayout="row" fxLayoutAlign="start center" (click)="CollapseChange('TA')" type="button" data-toggle="collapse" data-target="#collapseTA" aria-expanded="false" aria-controls="collapseTA">

            <div class="collaspe-icon">
                <svg id="collapseSVGTA" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg>
            </div>


            <p class="label">Travel Agent</p>
        </div>
        <div class="collapse" id="collapseTA">
            <div class="sub-button">
                <p class="label">Travel Itinerary</p>
            </div>
            <div class="sub-button">
                <p class="label">Profile</p>
            </div>
        </div>
    </div>
    <div class="sidebar-log-area center">
        <div class="log-button">
            <p class="label">Logout</p>
        </div>
    </div>

</div>