<div>
    <label>User Name</label>
</div>

  <form #resetForm="ngForm">
    <input type="password" name="new-password" placeholder="Enter new password" required minlength="4">
    <input type="password" name="confirm-password" placeholder="Confirm password" required minlength="4">
    <!-- <div *ngIf="signInForm.submitted && password.errors?.minlength">
      <label class="validation-message">Minimum 4 characters.</label>
    </div> -->
    <input type="submit" value="Change Password">
  </form>
  
  <!-- Error message -->
<!-- <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div> -->