<div class="tables">

    <!-- <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for an agent by User ID or Email">
    </div> -->

    <table class="table">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Email</th>
                <!--<th scope="col">Science</th>
          <th scope="col">English</th>
          <th scope="col">Total Marks</th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let grade of grades">
                <!-- <tr *ngFor="let grade of grades | filter:searchText"> -->
                <th scope="row">{{ grade.userid }}</th>
                <td>{{ grade.email }}</td>
                <td><button type="btn btn-small btn-secondary">View Profile</button></td>
                <!--<td>{{ grade.sciMark }}</td>
          <td>{{ grade.engMark }}</td>
          <td>{{ grade.totMark }}</td>-->
            </tr>
        </tbody>
    </table>
</div>