<div class="tables">

    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Start searching for an agent">
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mobile No.</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let grade of grades"> -->
            <tr *ngFor="let grade of grades | filter:searchText">
                <th scope="row">{{ grade.userid }}</th>
                <td>{{ grade.first_name }}</td>
                <td>{{ grade.last_name }}</td>
                <td>{{ grade.mobile_number }}</td>
                <td>
                    <a class="action-btn" (click)="onEdit()">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="action-btn" (click)="onDelete(grade.userid)">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
                <td><button type="btn btn-small btn-secondary" (click)="navigateToProfile(grade.userid)"
                        class="btn btn-info float-right ml-2" style="background-color:#33B585 ; font-size:17px">View
                        Profile</button></td>
            </tr>
        </tbody>
    </table>
</div>