.task-container {
    width: 100%;
    height: auto;
}

.button {
    margin: 10px 40px 10px 10px;
    background-color: #298E69;
    color: white;
    border-radius: 10px;
    padding: 7px 10px 0px 10px;
}

.button:hover {
    background-color: #39C892;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
}