<div class="form-group">
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
      /><br /><br />
  
      <label for="agenttype">Agent Type</label> &nbsp; &nbsp; &nbsp;
      <select name="type" id="agenttype" formControlName="agentType" class="form-control">
        <!-- <option value="ca" class="form-control">Call Centre Agent</option> -->
        <option value="ta" class="form-control" placeholder="Travelling Agent">Travelling Agent</option>
      </select><br /> <br />

      <!-- <input type="text" name="type" id="agenttype" formControlName="agentType" value="ta" class="form-control" placeholder="Travelling Agent" readonly><br /> <br /> -->

     
      <label for="userid">User ID</label> &nbsp; &nbsp; &nbsp;
      <input type="text" id="userid" class="form-control" formControlName="userid">
      <br /> <br />
  
  <button type="submit" class="btn btn-secondary">Add</button>
    </form>
  </div>
  
  
