<div class="task-card" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="start center">
        <div class="text-card-area">
            <mat-label class="label">Customer : </mat-label>
        </div>
        <div class="text-card-area">
            <mat-label class="label">{{customer.name.first_name}}</mat-label>
        </div>
        <div class="card-button">
            <p class="label-btn">Remove</p>
        </div>
        <div class="card-button">
            <p class="label-btn" (click)="toggle()">View in Map</p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <div class="text-card-area">
            <mat-label class="label">Task : </mat-label>
        </div>
        <div>
            <textarea class="text-area" name="" id=""></textarea>
        </div>
    </div>
    <div class="map" *ngIf="customer!=null && isShowMap">
        <app-map [modeSignal]="modeSignal" [selectedCustomer]="customer">

        </app-map>
    </div>
</div>