<div class="task-card" fxLayout="column" fxLayoutAlign="start start" [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState()" (click)="startAnimation('swing')">

    <div fxLayout="row" fxLayoutAlign="start center">
        <div class="text-card-area">
            <mat-label class="label">Customer : </mat-label>
        </div>
        <div class="text-card-area">
            <mat-label class="label">{{customer.name.first_name}}</mat-label>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button class="card-button label-btn" (click)="TaskButton('Completed')" [disabled]="isDisabled">
            Complete
        </button>
        <button mat-raised-button class="card-button label-btn" (click)="TaskButton('Postponed')" [disabled]="isDisabled">
            Not Available
        </button>
        <button mat-raised-button class="card-button label-btn" (click)="toggle()">
            View in Map
        </button>
    </div>
    <div fxLayout="row " fxLayoutAlign="start center ">
        <div class="text-card-area ">
            <mat-label class="label ">Task</mat-label>
        </div>
        <div>
            <textarea [ngStyle]="{ 'width.px':text_width} " class="text-area " name=" " id=" "></textarea>
        </div>
    </div>
    <div class="map " *ngIf="customer!=null && isShowMap ">
        <app-map [modeSignal]="modeSignal " [selectedCustomer]="customer ">

        </app-map>
    </div>
</div>