
<h1 class="text-center text-black-50">
Add Task
</h1>

<form>

        <div class="form-group col-md">
            <label for="">Task Name</label>
            <input formControlName="cust_id" type="text" class="form-control" placeholder="">
        </div>

        <div class="form-group col-md">
            <label for="">Estimated Task Duration</label>
            <select class="custom-select" formControlName="task_duration">
       <option selected >15 min</option>
       <option >30 min</option>
       <option >45 min</option>
     </select>
        </div>

</form>
