.outer-wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 20px 20px 20px 20px;
}

.map-wrapper {
    height: 400px;
}


/* agm-map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} */

#map {
    height: 100%;
    width: 100%;
}