<div class="outer-wrapper">
    <div class="map-wrapper" id="wrapper" #wrapper>
        <!-- 
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [scrollwheel]="true" (idle)="idle()" (centerChange)="centerChange($event)" id="AgmMap" #AgmMap>
            <div *ngIf="markers.length>0 && modeSignal==='markerMode'">
                <agm-marker *ngFor="let m of markers;index as i" [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="customerLocationIcon">
                    <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
                        <ng-template>
                            Name : {{markerList[i].name.first_name}} {{markerList[i].name.last_name}}
                        </ng-template>
                    </agm-snazzy-info-window>
                </agm-marker>
            </div>
            <div *ngIf="destination && modeSignal==='directionMode'">
                
                <agm-direction [origin]="origin" [waypoints]="waypoints" [destination]="destination" [optimizeWaypoints]="true">

                </agm-direction>
            </div>
            <div *ngIf="destination && modeSignal==='singlePathMode'">
                <agm-direction [origin]="origin" [destination]="destination">

                </agm-direction>
            </div>


        </agm-map> -->
        <div id="map"></div>
    </div>
</div>