<div class="content">
  <div class="container" style="margin: 10% 20% 20% 10%;">
    <div class="row">
      <div class="col-md-5 order-md-2">
        <img src="../assets/images/Hero employee _Monochromatic.png" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h1>Sign in to <br><strong>Travelling Agent Management System</strong></h1>
              <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
            </div>

            <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
              <label class="form-label">Email</label>
              <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email"
                [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }"
                class="form-control"> <br>
              <div *ngIf="signInForm.submitted && email.errors?.pattern">
                <label class="validation-message">Invalid email address.</label>
              </div>
              <label class="form-label">Password</label>
              <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password"
                required minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }"
                class="form-control"> <br>
              <div *ngIf="signInForm.submitted && password.errors?.minlength">
                <label class="validation-message">Minimum 4 characters.</label>
              </div>
              <input type="submit" value="Login" class="btn btn-info float-right ml-2" style="background-color:#33B585">

              <button type="btn btn-info" (click)="navigateToProfile()" class="btn btn-info"
              style="background-color:#33B585">Forgot
              Password</button>

            </form>


            <!-- Error message -->
            <div class=" alert" *ngIf="serverErrorMessages">
              {{serverErrorMessages}}
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
