.content {
    height: auto;
    z-index: 1;
    width: 100%;
}

app-nav-bar {
    z-index: 10;
    width: 100%;
    padding: 0px;
}

.sidebar {
    z-index: 10;
    height: auto;
    width: 300px;
}

.boards {
    width: 100%;
}

.navbar {
    height: 10%;
    padding: 0px;
}