<div class="flex-container shadow-sm p-3 m-0" fxLayoutAlign="space-between center" @fade>
    <div class="burger_btn_area">
        <div class="burger_btn" (click)="BurgerClick()">

        </div>
    </div>
    <div></div>
    <div class="user">
        <div class="flex-container row-reverse">
            <div id="user-det" class="user-btn" (click)="userMenu()"></div>
            <div class="user-name-div">
                <p class="title">John Doe</p>

            </div>
        </div>
        <div id="userMenuDropdown" class="dropdown-content">
            <div class="agent-type"><label>Travel Agent</label></div>
            <hr>
            <a href="#home">Profile</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
</div>