<div class="flex-container shadow-sm p-3 m-0" fxLayoutAlign="space-between center" @fade *ngIf="userService.getUserPayload()">
    <div class="burger_btn_area" *ngIf="userService.getUserPayload()">
        <div class="burger_btn" (click)="BurgerClick()">

        </div>
    </div>
    <div></div>
    <div class="user" *ngIf="userService.getUserPayload()">
        <div class="flex-container row-reverse">
            <div id="user-det" class="user-btn" (click)="userMenu()"></div>
            <div class="user-name-div">
                <p class="title">{{ user.first_name }}</p>

            </div>
        </div>
        <div id="userMenuDropdown" class="dropdown-content">
            <div class="agent-type"><label>{{role}}</label></div>
            <hr>
            <a (click)="profile()">Profile</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <hr>
            <a (click)="onLogout()">Logout</a>
        </div>
        <div class="button" (click)="callScreen('Itinerary Map')">
            <p class="label">TA Leave</p>
        </div>
        
    </div>
</div>